@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
$c-dark-blue: #005687;
$c-mid-blue: #0468B1;
$c-mid-blue-semi: rgba(4,104,177,.75);
$c-light-blue: #32BEE1;

$c-dark-red: #A51E41;
$c-mid-red: #FA1C26;
$c-light-red: #F03C8C;

$c-dark-green: #418246;
$c-mid-green: #61B233;
$c-light-green: #B4DC28;

$c-dark-yellow: #FA7814;
$c-mid-yellow: #FFC10E;
$c-light-yellow: #FFF32A;

$c-dark-grey: #000000;
$c-mid-grey: #646464;
$c-light-grey: #969696;

$c-light-2: #e5e5e5;
*/
html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans';
}

header {
	/*display: block;
	width: 100%;
	height: 30px;*/
	position: fixed;
	top: 0;
	flex: 0 1 0;
	display: block;
	width: 100%;
	height: 30px;
	z-index: 1000;
	background-color: #005687;
}
header a {
	line-height: 26px;
	margin: 0 30px;
	float: right;
}
#logo {
	position: absolute;
	top: 30px;
	left: 0;
	pointer-events: none;
}
#logo img {
	height: 125px;
	margin-bottom: 30px;
}
#logo h1 {
	margin: 0 0 5px 105px;
	line-height: 1.2em;
	word-spacing: 100vw;
	color: #005687;
}
#logo h1 .light {
	color: #0468B1;
	font-weight: normal;
}
#logo h2 {
	margin: 0 0 0 105px;
	line-height: 1.3em;
	word-spacing: 100vw;
	color: $c-mid-green;
	font-weight: normal;
}


.inactive {
	pointer-events: none;
}

section {
	min-height: 100vh;
	width: 100%;
}
section.hx2 {
	height: 200vh;
}
section.hx5 {
	height: 500vh;
}
section.dark {
	background-color: #393939;
}
section.padded {
	padding: 300px 0;
	box-sizing: border-box;
}
section .inner {
	position: relative;
	max-width: 1080px;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.inner.float {
	height: auto !important;
	min-height: 100vh;
	z-index: 100;
}
.sticky {
	position: sticky !important;
	top: 0;
	height: auto !important;
	min-height: 100vh;
}
.sticky.block {
	display: block !important;
}
.sticky svg {
	height: auto !important;
}
.col-spread {
	position: absolute;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 0 90px 0;
	box-sizing: border-box;
}
.col-spread.left {
	left: -50px;
}
.col-spread.right {
	left: calc(100% - 50px);
}
.colx2 {
	display: grid;
	column-count: 2;
	column-gap: 15px;
	grid-template-columns: 1fr 25%;
}
p.instruction {
	font-size: 10px;
	color: #FFF;
	min-width: 200px;
}

.lead {
	font-size: 20px;
	line-height: 1.4em;
}
.small {
	font-size: 12px;
	line-height: 1.3em;
}
.blue {
	color: #005687;
}
h3.graphic-title {
	border-left: 4px solid #969696;
	color: #969696;
	font-size: 12px;
	padding-left: 8px;
}
.wobble {
	animation: wobble 2s ease infinite;
}
@keyframes wobble {
	0% {
		transform: translateX(0);
	}
	15% {
		transform: translateX(-25px);
	}
	30% {
		transform: translateX(20px);
	}
	45% {
		transform: translateX(-10px);
	}
	60% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(0);
	}
}
.container {
	display: flex;
	width: 100%;
	height: calc(100% - 30px);
}
.btn-row {
	display: block;
	position: absolute;
	top: 30;
	width: 100%;
	text-align: center;
}
.btn-row button {
	background: transparent;
	border: none;
	color: #FA7814;
	outline: none;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 14px;
}
.btn-row button.active {
	background: #FA7814;
	color: #FFF;
}
.left-col {
	flex: 1 1 0;
}
.right-col {
	flex: 0 1 0;
	background-color: #005687;
	transition: flex .5s;
	color: #FFF;
	overflow: auto;
}
.right-col .inner {
	padding: 0 4em 2em 4em;
}
h1 {
/*	text-transform: uppercase;*/
	color: #005687;
}
h1.main-title {
	text-align: center;
	font-size: 36px;
	line-height: 1.2em;
	margin-bottom: 0;
}
h1.main-title small {
	font-size: 20px;
	line-height: 1.3em;
}
h1.main-title .light {
	font-weight: normal;
	color: #0468B1;
}
h2.sub-title {
	margin-top: 0;
	font-weight: normal;
}
h3.entry-title {
	margin-bottom: 0;
}
h3 small {
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}
small.contributor,
small.location {
	display: block;
}
small.location {
	margin-bottom: 1em;
}
div.entry {
	padding: 2rem 0;
	border-bottom: 1px solid #FFF;
}
div.tag {
	display: inline;
	font-size: 12px;
	padding: 2px 5px;
	border: 1px solid #FFF;
	border-radius: 5px;
	margin: 5px 5px 5px 0;
}
a {
	display: block;
	margin-bottom: 1em;
	color: #B4DC28;
	font-size: 12px;
	outline: none;
}

svg {
	width: 100%;
	height: 100%;
}
.node text {
	pointer-events: none;
	text-anchor: middle;
}
circle.bg {
	cursor: pointer;
	fill: #FFF;
}
circle.outline {
	fill: none;
	stroke: #000;
}

.orbit,
.orbit {
	opacity: 0;
	fill: none;
	stroke: #000;
	stroke-width: 1;
}
.orbit.primary {
	stroke-width: 2;
}
.node.primary {
	font-weight: bold;
	font-size: 24px;
}
.node.primary text {
	text-transform: uppercase;
}
.leaf text {
	text-transform: lowercase !important;
}
.node.primary circle.outline {
	stroke-width: 3;
}
.node.primary line.underline {
	stroke: #000;
	stroke-width: 2;
}
.node.secondary line.underline {
	stroke: #000;
	stroke-width: 1;
}
.node.tech:hover > circle:not(.bg),
.node.tech:hover > line {
	stroke: #A51E41;
}
.node.tech:hover > text {
	fill: #A51E41;
}
.node.tech .leaf:hover circle:not(.bg),
.node.tech .leaf:hover line {
	stroke: #FA1C26;
}
.node.tech .leaf:hover > text {
	fill: #FA1C26;
}
.node.policy:hover > circle:not(.bg),
.node.policy:hover > line {
	stroke: #005687;
}
.node.policy:hover > text {
	fill: #005687;
}
.node.policy .leaf:hover circle:not(.bg),
.node.policy .leaf:hover line {
	stroke: #0468B1;
}
.node.policy .leaf:hover text {
	fill: #0468B1;
}
.node.application:hover > circle:not(.bg),
.node.application:hover > line,
.node.application.active > circle:not(.bg),
.node.application.active > line {
	stroke: #418246;
}
.node.application:hover > text,
.node.application.active > text {
	fill: #418246;
}
.node.application .leaf:hover circle:not(.bg),
.node.application .leaf:hover line,
.node.application .leaf.active circle:not(.bg),
.node.application .leaf.active line {
	stroke: #61B233;
}
.node.application .leaf:hover text,
.node.application .leaf.active text {
	fill: #61B233;
}
.node.secondary {
	font-weight: medium;
	font-size: 24px;	
}
.node rect.bg {
	fill: #FFF;
	pointer-events: none;
}
.leaf {
	font-weight: bold;
	font-size: 18px;
}
.node text,
.leaf text {
	opacity: 0;
}
g.title text {
	font-weight: bold;
	font-size: 24px;
	opacity: 0;
}
g.title text .emph {
	font-size: 36px;
}
path.connection.dim {
/*	stroke: #e5e5e5 !important;*/
	stroke: #646464 !important;
	stroke-opacity: .25 !important;
}
g.base.dim text {
/*	fill: #e5e5e5 !important;*/
	fill: #646464 !important;
	fill-opacity: .25 !important;
}
