@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
$c-dark-blue: #005687;
$c-mid-blue: #0468B1;
$c-mid-blue-semi: rgba(4,104,177,.75);
$c-light-blue: #32BEE1;

$c-dark-red: #A51E41;
$c-mid-red: #FA1C26;
$c-light-red: #F03C8C;

$c-dark-green: #418246;
$c-mid-green: #61B233;
$c-light-green: #B4DC28;

$c-dark-yellow: #FA7814;
$c-mid-yellow: #FFC10E;
$c-light-yellow: #FFF32A;

$c-dark-grey: #000000;
$c-mid-grey: #646464;
$c-light-grey: #969696;
*/
html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans';
}

header {
	display: block;
	width: 100%;
	height: 30px;
	background-color: #005687;
}
img#logo {
	height: 125px;
	position: absolute;
	top: 30px;
	left: 0;
}

.container {
	display: flex;
	width: 100%;
	height: calc(100% - 30px);
}
.left-col {
	flex: 1 1 0;
}
.right-col {
	flex: 0 1 0;
	background-color: #005687;
	transition: flex .5s;
	color: #FFF;
}
.right-col .inner {
	padding: 2em 4em;
}
h1.main-title {
	margin-bottom: 0;
}
h2.sub-title {
	margin-top: 0;
	font-weight: normal;
}
h3.entry-title {
	margin-bottom: 0;
}
small.contributor {
	display: block;
}
div.entry {
	padding: 2rem 0;
	border-bottom: 1px solid #FFF;
}
div.tag {
	display: inline;
	font-size: 12px;
	padding: 2px 5px;
	border: 1px solid #FFF;
	border-radius: 5px;
}

svg {
	width: 100%;
	height: 100%;
}
.node text {
	pointer-events: none;
	text-anchor: middle;
}
circle.bg {
	cursor: pointer;
	fill: #FFF;
}
circle.outline {
	fill: none;
	stroke: #000;
}

.orbit,
.orbit {
	opacity: 0;
	fill: none;
	stroke: #000;
	stroke-width: 1;
}
.orbit.primary {
	stroke-width: 2;
}
.node.primary {
	font-weight: bold;
	font-size: 24px;
}
.node.primary text {
	text-transform: uppercase;
}
.leaf text {
	text-transform: lowercase !important;
}
.node.primary circle.outline {
	stroke-width: 3;
}
.node.primary line.underline {
	stroke: #000;
	stroke-width: 2;
}
.node.secondary line.underline {
	stroke: #000;
	stroke-width: 1;
}
.node.tech:hover > circle:not(.bg),
.node.tech:hover > line {
	stroke: #A51E41;
}
.node.tech:hover > text {
	fill: #A51E41;
}
.node.tech .leaf:hover circle:not(.bg),
.node.tech .leaf:hover line {
	stroke: #FA1C26;
}
.node.tech .leaf:hover > text {
	fill: #FA1C26;
}
.node.policy:hover > circle:not(.bg),
.node.policy:hover > line {
	stroke: #005687;
}
.node.policy:hover > text {
	fill: #005687;
}
.node.policy .leaf:hover circle:not(.bg),
.node.policy .leaf:hover line {
	stroke: #0468B1;
}
.node.policy .leaf:hover text {
	fill: #0468B1;
}
.node.application:hover > circle:not(.bg),
.node.application:hover > line,
.node.application.active > circle:not(.bg),
.node.application.active > line {
	stroke: #418246;
}
.node.application:hover > text,
.node.application.active > text {
	fill: #418246;
}
.node.application .leaf:hover circle:not(.bg),
.node.application .leaf:hover line,
.node.application .leaf.active circle:not(.bg),
.node.application .leaf.active line {
	stroke: #61B233;
}
.node.application .leaf:hover text,
.node.application .leaf.active text {
	fill: #61B233;
}
.node.secondary {
	font-weight: medium;
	font-size: 24px;	
}
.node rect.bg {
	fill: #FFF;
	pointer-events: none;
}
.leaf {
	font-weight: bold;
	font-size: 18px;
}
.node text,
.leaf text {
	opacity: 0;
}
g.title text {
	font-weight: bold;
	font-size: 24px;
	opacity: 0;
}
g.title text .emph {
	font-size: 36px;
}